html {
  background-color: #484349;
  color: #F7F0F0;
  font-family: "Verdana";
}


body {
  padding: 0;
  margin: 0;
}

.header {
  font-family: "Bookman";
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #18A999;
}

.title {
}

.etch-container {
  background-color: white;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  margin: 20px auto;
  width: 802px;
  border: 5px solid #18A999;
  border-radius: 5px;
}

.etch-square {
  background-color: white;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
