html {
  background-color: #484349;
  color: #F7F0F0;
  font-family: "Verdana";
}


body {
  padding: 0;
  margin: 0;
}

.header {
  font-family: "Bookman";
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #18A999;
  height: 55px;
}

.etch-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 800px;
  height: 800px;
  border: 5px solid #8AF3FF;
  border-radius: 5px;
}

.etch-square {
  background-color: white;
  border: 1px solid #0000007a;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #18A999;
  color: #F7F0F0;
  font-size: 24px;
  padding: 3px 12px;
  margin: 0 20px;
}

button:hover {
  border: 2px solid #8AF3FF;
}